<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<description></description>
  	<display-name>ApproveDeny</display-name>
  	<servlet-name>AppDenServlet</servlet-name>
  	<servlet-class>com.revature.servlets.AppDenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AppDenServlet</servlet-name>
  	<url-pattern>/approvedeny</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description></description>
  	<display-name>Login</display-name>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description></description>
  	<display-name>Request</display-name>
  	<servlet-name>RequestServlet</servlet-name>
  	<servlet-class>com.revature.servlets.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RequestServlet</servlet-name>
  	<url-pattern>/request</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description></description>
  	<display-name>PastTickets</display-name>
  	<servlet-name>ViewPastTicketsServlet</servlet-name>
  	<servlet-class>com.revature.servlets.ViewPastTicketsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ViewPastTicketsServlet</servlet-name>
  	<url-pattern>/pasttickets</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description></description>
  	<display-name>AllRequests</display-name>
  	<servlet-name>ViewRequestsServlet</servlet-name>
  	<servlet-class>com.revature.servlets.ViewRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ViewRequestsServlet</servlet-name>
  	<url-pattern>/allrequests</url-pattern>
  </servlet-mapping>
</web-app>